<div class="row">
  {{docs}}
</div>
<div class="row">
  isLoading={{docs.isLoading}},
  isLoaded={{docs.isLoaded}},
  isMore={{docs.isMore}}
</div>
<div class="row">
  {{ui-block/json docs.state}}
</div>
<div class="row">
  {{log docs}}
  {{#each docs as |doc|}}
    {{ui-block/json doc.serialized}}
  {{/each}}
</div>
<div class="row">
  <button {{action 'setup'}}>Setup</button>
  <button {{action 'load'}}>Load</button>
  <button {{action 'reload'}}>Reload</button>
</div>
