{{#if changeset.isError}}
  {{ui-block/json changeset.error class='error'}}
{{/if}}
<div class="form">
  <div class="row">
    {{input placeholder='name' value=changeset.name enter=(action 'enter') disabled=changeset.isSaving}}
  </div>
  <div class="row">
    {{input placeholder='password' value=changeset.password type='password' enter=(action 'enter') disabled=changeset.isSaving}}
  </div>
  <div class="row">
    <button {{action 'enter'}} disabled={{changeset.isSaving}}>Sign-in</button>
  </div>
</div>
