{{#if session.isError}}
  {{ui-block/json session.error class='error'}}
{{/if}}
<div class="form">
  <div class="row">
    {{input placeholder='name' value=session.name enter=(action 'enter') disabled=session.isSaving}}
  </div>
  <div class="row">
    {{input placeholder='password' value=session.password type='password' enter=(action 'enter') disabled=session.isSaving}}
  </div>
  <div class="row">
    <button {{action 'enter'}} disabled={{session.isSaving}}>Sign-in</button>
  </div>
</div>
