{{#each documents as |doc|}}
  <div class="doc" {{action 'doc' doc}}>
    <div class="id">
      {{#if doc.id}}
        {{doc.id}}
      {{else}}
        &lt;no id&gt;
      {{/if}}
    </div>
    {{#if doc.rev}}
      <div class="rev">{{doc.rev}}</div>
    {{/if}}
    <div class="info">
      {{#if doc.isNew}}
        <span class="item">new</span>
      {{else}}
        <span class="item">saved</span>
      {{/if}}
      {{#if doc.isDirty}}
        <span class="item">dirty</span>
      {{/if}}
    </div>
  </div>
{{else}}
  <div class="placeholder">No documents loaded</div>
{{/each}}
