<div class="row">
  {{input value=id}}
</div>
<div class="row">
  {{doc}}
</div>
<div class="row">
  isLoading={{doc.isLoading}},
  isLoaded={{doc.isLoaded}}
</div>
<div class="row">
  {{ui-block/json doc.serialized}}
</div>
<div class="row">
  <button {{action 'load'}}>Load</button>
  <button {{action 'reload'}}>Reload</button>
</div>
<div class="row">
  {{ui-block/json doc.state}}
</div>
