{{!--
<div class="row">
  {{doc}} {{doc.content}} {{doc.id}}
</div>
<div class="row">
  <button {{action 'load'}}>Load</button>
</div>
<div class="row">
  {{ui-block/json doc.state}}
</div>
--}}
<div class="row">
  {{filter}}
</div>
<div class="row">
  length={{filter.values.length}}
</div>
<div class="row">
  {{filter.value}}
</div>
