<div class="row">
  {{#if session.isAuthenticated}}
    <p>Hey, {{session.name}} ({{join session.roles delimiter=', '}})</p>
    <p><button {{action 'loadUser'}}>_user</button> <button {{action 'delete' target=session}}>Sign-out</button></p>
  {{else}}
    <form>
      <p>{{input placeholder='name' value=session.name}}</p>
      <p>{{input type='password' placeholder='password' value=session.password}}</p>
      <p><button {{action 'save' target=session}}>Sign-in</button></p>
    </form>
  {{/if}}
</div>
<div class="row">id={{author.id}}, name={{author.name}} country.name={{author.country.name}}</div>
<div class="row">
  {{ui-block/json author.serialized}}
</div>
<div class="row">
  {{ui-block/json author.state}}
</div>
