<div class="content">
  <div class="header">
    <div class="title">ember-cli-documents</div>
    {{#unless isEmpty}}
      <div class="links">
        {{link-to 'index' 'index'}}
        {{link-to 'setup' 'setup'}}
        {{link-to 'blog' 'blog'}}
        {{#if session.isAuthenticated}}
          {{link-to session.name 'session.index'}}
        {{else}}
          {{link-to 'sign-in' 'session.new'}}
        {{/if}}
      </div>
    {{/unless}}
  </div>
  <div class="page">
    {{yield}}
  </div>
</div>
<div class="identity">
  {{ui-block/stores/identity class='content'}}
</div>
